<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DBconnectionString_x" connectionString ="Server=LAPTOP-H725LP7K\SQLEXPRESS_T4DV6;Database=TPPDBmonitoring;User Id=sa;Password=Tr1mbl3;Integrated Security=True; Trusted_Connection=True;" providerName="System.Data.SqlClient" />
    <add name="DBconnectionString_GNAshort" connectionString ="Server=LAPTOP-H725LP7K\SQLEXPRESS_T4DV6;Database=TPPDBmonitoring;Trusted_Connection=True;" providerName="System.Data.SqlClient" />

    <add name="DBconnectionString_xxx" connectionString = "Server=T4DIRE\SQLEXPRESS;Initial Catalog=TPPDBmonitoring;Integrated Security=True"  providerName="System.Data.SqlClient"  />
    <add name="DBconnectionString_IrelandLong" connectionString ="Server=T4DIRE\SQLEXPRESS;Database=TPPDBmonitoring;User Id=sa;Password=Tr1mbl3;Trusted_Connection=True;" providerName="System.Data.SqlClient" />

    <add name="DBconnectionString_y" connectionString = "Server=TEST3-LOG\SQLEXPRESS;Initial Catalog=TPPDBmonitoring;User Id=sa;Password=Tr1mbl3!;Integrated Security=True"  providerName="System.Data.SqlClient"  />
    <add name="DBconnectionString_Dywidag_yy" connectionString ="Server=TEST3-LOG\SQLEXPRESS;Database=TPPDBmonitoring;Trusted_Connection=True;" providerName="System.Data.SqlClient" />

	<add name="DBconnectionString" connectionString ="Server=LAPTOP-H725LP7K\SQLEXPRESS_T4DV6;Database=T4DDBmonitoring; User Id=sa;Password=Tr1mbl3;Integrated Security=True; Trusted_Connection=True;" providerName="System.Data.SqlClient" />


  </connectionStrings>
  <appSettings>
    <add key="ProjectTitle" value="Computer Test" />
	<add key="EmailLogin" value="t4direland2@gmail.com" />
	<add key="EmailPassword" value="egrsuxzgmaztgpin" />
	<add key="EmailFrom" value="t4direland2@gmail.com" />
	  
	<add key="EmailLogin3" value="gna.monitoringnotices@gmail.com" />
	<add key="EmailPassword3" value="iyesfxeydlqamyym" />
	<add key="EmailFrom3" value="gna.monitoringnotices@gmail.com" />
	
<add key="systemMailRecipients" value="gna.geomatics@gmail.com" />
<add key="EmailLogin1" value="gna.geomatics@gmail.com" />
<add key="EmailPassword1" value="SouthShore1!" />
<add key="EmailLogin2" value="gna.arbeit@gmail.com" />
<add key="EmailPassword2" value="Julian560709!" />

   </appSettings>
</configuration>